body {
  max-width: 320px;
  margin: auto;
  color: white;
  background: #313a39;
  font-family: sans-serif;
  font-size: 12px;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}

.character1 {
  background: #637676;
  align-self: flex-start;
}

.character2 {
  background: #c54436;
  align-self: flex-end;
}

.character {
  padding: 5px;
  max-width: 70%;
  font-size: 20px;
}

p {
  border-radius: 10px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
footer {
  background: #182321;
  color: #c54436;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.small {
  max-height: 20px;
}

.profil {
  max-height: 40px;
}

header p {
  visibility: hidden;
}

footer img {
  margin: 0 10px 0 10px;
}

input {
  background: #772e25;
  color: white;
  border-radius: 10px;
}

span {
  color: red;
}