body {
  max-width: 320px;
  margin: auto;
  color: white;
  background: #313a39;
}

img {
  display: block;
  max-width: 100%;
}

.character1 {
  background: #637676;
}

.character2 {
  background: #c54436;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div {
  border-radius: 10px;margin: 5px;
}

.character {
  padding: 5px;
  max-width: 60%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  background: #182321;
  color: #c54436;
  padding: 5px;
  display: flex;
  align-items: baseline;
}

.petite-image {
  max-width: 10%;
}
